{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Companion</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
</head>
<body>
    <header>
        <h1>Fitness Companion</h1>
        <nav>

        </nav>
    </header>

    <main>
        {% block content %}  <!-- This is where the page-specific content will go -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Fitness Companion</p>
    </footer>
</body>
</html>

