{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Food Item Database</h2>
            </div>
            <div class="card-body">
                <form method="get" class="mb-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Search Query</label>
                            {{ search_form.query }}
                        </div>
                        <div class="col-md-4">
                            <label>Category</label>
                            {{ search_form.category }}
                        </div>
                        <div class="col-md-2 align-self-end">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Serving Size</th>
                            <th>Calories</th>
                            <th>Protein</th>
                            <th>Carbs</th>
                            <th>Fat</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in food_items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.serving_size }}g</td>
                            <td>{{ item.calories }}</td>
                            <td>{{ item.protein }}</td>
                            <td>{{ item.carbs }}</td>
                            <td>{{ item.fat }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
